footer.footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 25px;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.social{
    margin:5px;
}
.social a{
    color: #323232;
}
.social a:hover{
    color:#d50000;
    transition-delay: 0.15s;
}